
@charset "UTF-8";


.wheel {
  width: 500px;
  height: 500px;
  top: 150px;
  left: 50%;
  margin-left: -250px;
  border-radius: 100%;
  position: absolute;
  transition-delay: 0s;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transform-origin: 50% 50%;
  transform: rotate(-22.5deg);
}
.wheel button.submit {
  font-family: 'Open Sans', sans-serif;
  outline: none;
  display: block;
  color: #eee;
  font-weight: 300;
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 0;
  background: #222;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  z-index: 100;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
  transition: opacity 1s, box-shadow 0.3s;
  pointer-events: none;
  opacity: 0;
}
.wheel button.submit:hover {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}
.wheel button.submit:focus {
  opacity: 1;
  pointer-events: auto;
}

ul {
  margin: 0;
  padding: 0;
}
ul > li {
  width: 250px;
  height: 250px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 250px;
  border-top-right-radius: 0px;
  transform-origin: 100% 100%;
  pointer-events: none;
  transition-delay: 0s;
  transition-property: transform;
  transition-duration: 3s;
  transition-timing-function: ease-in-out;
}
ul > li:nth-child(1) {
  transform: rotate(40deg);
  z-index: 8;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF14B190', endColorstr='#FFFFFFFF');
  background-image: -moz-linear-gradient(45deg, #DB8C33 178px, rgba(255, 255, 255, 0) 179px);
  background-image: -webkit-linear-gradient(45deg, #DB8C33 178px, rgba(255, 255, 255, 0) 179px);
  background-image: linear-gradient(45deg, #DB8C33 178px, rgba(255, 255, 255, 0) 179px);
}
ul > li:nth-child(2) {
  transform: rotate(80deg);
  z-index: 7;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF15B694', endColorstr='#FFFFFFFF');
  background-image: -moz-linear-gradient(45deg, #E9BA1F   178px, rgba(255, 255, 255, 0) 179px);
  background-image: -webkit-linear-gradient(45deg, #E9BA1F  178px, rgba(255, 255, 255, 0) 179px);
  background-image: linear-gradient(45deg, #E9BA1F  178px, rgba(255, 255, 255, 0) 179px);
}
ul > li:nth-child(3) {
  transform: rotate(120deg);
  z-index: 6;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF15BA97', endColorstr='#FFFFFFFF');
  background-image: -moz-linear-gradient(45deg, #A5CE11  178px, rgba(255, 255, 255, 0) 179px);
  background-image: -webkit-linear-gradient(45deg, #A5CE11  178px, rgba(255, 255, 255, 0) 179px);
  background-image: linear-gradient(45deg, #A5CE11  178px, rgba(255, 255, 255, 0) 179px);
}
ul > li:nth-child(4) {
  transform: rotate(160deg);
  z-index: 5;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF16BF9B', endColorstr='#FFFFFFFF');
  background-image: -moz-linear-gradient(45deg, #11CE69  178px, rgba(255, 255, 255, 0) 179px);
  background-image: -webkit-linear-gradient(45deg, #11CE69  178px, rgba(255, 255, 255, 0) 179px);
  background-image: linear-gradient(45deg, #11CE69  178px, rgba(255, 255, 255, 0) 179px);
}
ul > li:nth-child(5) {
  transform: rotate(200deg);
  z-index: 4;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF16C39F', endColorstr='#FFFFFFFF');
  background-image: -moz-linear-gradient(45deg, #11AECE  178px, rgba(255, 255, 255, 0) 179px);
  background-image: -webkit-linear-gradient(45deg, #11AECE  178px, rgba(255, 255, 255, 0) 179px);
  background-image: linear-gradient(45deg, #11AECE  178px, rgba(255, 255, 255, 0) 179px);
}
ul > li:nth-child(6) {
  transform: rotate(240deg);
  z-index: 3;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF17C8A3', endColorstr='#FFFFFFFF');
  background-image: -moz-linear-gradient(45deg, #3F64D2  178px, rgba(255, 255, 255, 0) 179px);
  background-image: -webkit-linear-gradient(45deg, #3F64D2  178px, rgba(255, 255, 255, 0) 179px);
  background-image: linear-gradient(45deg, #3F64D2  178px, rgba(255, 255, 255, 0) 179px);
}
ul > li:nth-child(7) {
  transform: rotate(280deg);
  z-index: 2;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF17CCA6', endColorstr='#FFFFFFFF');
  background-image: -moz-linear-gradient(45deg, #D62643  178px, rgba(255, 255, 255, 0) 179px);
  background-image: -webkit-linear-gradient(45deg, #D62643  178px, rgba(255, 255, 255, 0) 179px);
  background-image: linear-gradient(45deg, #D62643  178px, rgba(255, 255, 255, 0) 179px);
}
ul > li:nth-child(8) {
  transform: rotate(320deg);
  z-index: 1;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF18D1AA', endColorstr='#FFFFFFFF');
  background-image: -moz-linear-gradient(45deg, #B115D7  178px, rgba(255, 255, 255, 0) 179px);
  background-image: -webkit-linear-gradient(45deg, #B115D7  178px, rgba(255, 255, 255, 0) 179px);
  background-image: linear-gradient(45deg, #B115D7  178px, rgba(255, 255, 255, 0) 179px);
}
ul > li:nth-child(9) {
  transform: rotate(360deg);
  z-index: 1;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF18D1AA', endColorstr='#FFFFFFFF');
  background-image: -moz-linear-gradient(45deg, #8EB0BD  178px, rgba(255, 255, 255, 0) 179px);
  background-image: -webkit-linear-gradient(45deg, #8EB0BD  178px, rgba(255, 255, 255, 0) 179px);
  background-image: linear-gradient(45deg, #8EB0BD  178px, rgba(255, 255, 255, 0) 179px);
}

ul > li > input, ul > li > .sent-label {
  font-family: 'Open Sans';
  color: #eee;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  outline: none;
  pointer-events: auto;
  display: block;
  position: absolute;
  top: 75%;
  left: 0px;
  width: 250px;
  border: 0;
  text-align: left;
  padding-left: 20px;
  background: none;
  transform-origin: 50%;
  transform: rotate(22.5deg);
}
ul > li > .sent-label {
  display: none;
  opacity: 0;
  font-size: 1.2em;
}

.closed li:nth-child(1) {
  transform: rotateX(0deg);
}
.closed li:nth-child(2) {
  transform: rotateX(0deg);
}
.closed li:nth-child(3) {
  transform: rotateX(0deg);
}
.closed li:nth-child(4) {
  transform: rotateX(0deg);
}
.closed li:nth-child(5) {
  transform: rotateX(0deg);
}
.closed li:nth-child(6) {
  transform: rotateX(0deg);
}
.closed li:nth-child(7) {
  transform: rotateX(0deg);
}
.closed li:nth-child(8) {
  transform: rotateX(0deg);
}
.closed li:nth-child(9) {
  transform: rotateX(0deg);
}

.sent.wheel {
  transition-delay: 0s, 3s;
  transition-property: transform, left;
  transition-duration: 1s, 0.5s;
  transition-timing-function: ease-in-out, ease-in;
  left: 150%;
}
.sent .sent-label {
  display: block;
  transition: opacity 1s;
  opacity: 1;
}
.sent input {
  pointer-events: none;
  transition: opacity 1s;
  opacity: 0;
}
.sent input::-webkit-input-placeholder {
  /* WebKit browsers */
  opacity: 0;
}
.sent input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  opacity: 0;
}
.sent input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  opacity: 0;
}
.sent input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  opacity: 0;
}
.sent li:nth-child(1) {
  transform: rotateX(0deg);
}
.sent li:nth-child(2) {
  transform: rotateX(0deg);
}
.sent li:nth-child(3) {
  transform: rotateX(0deg);
}
.sent li:nth-child(4) {
  transform: rotateX(0deg);
}
.sent li:nth-child(5) {
  transform: rotateX(0deg);
}
.sent li:nth-child(6) {
  transform: rotateX(0deg);
}
.sent li:nth-child(7) {
  transform: rotateX(0deg);
}
.sent li:nth-child(8) {
  transform: rotateX(0deg);
}
.sent li:nth-child(9) {
  transform: rotateX(0deg);
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  background: #222;
  position: relative;
}
        
#header {
  width: 80%;
  height: 20%;    
  position: relative;  
  color: #726E6D;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}   

#footer {
    position:absolute;
    bottom:100px;
    width:100%;
    height:100px; 
    padding-left: 35%;
  }


[type="submit"] {
  opacity: 0;
  pointer-events: none;
}

input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #eee;
  opacity: 1;
}
input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #eee;
  opacity: 1;
}
input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #eee;
  opacity: 1;
}
input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #eee;
  opacity: 1;
}

input:not(:focus)::-webkit-input-placeholder {
  /* WebKit browsers */
  opacity: 0.4;
}
input:not(:focus):-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  opacity: 0.4;
}
input:not(:focus)::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  opacity: 0.4;
}
input:not(:focus):-ms-input-placeholder {
  /* Internet Explorer 10+ */
  opacity: 0.4;
}

/* Name Field */
#name_input {
    color: #726E6D; 
    background-color: #222; 
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-top: 20px;
    margin-left: 35%;    
    width:130%;
    height:50px; 
}

/* Stars */
div.stars {
    width: 300px;
    display: inline-block;
    margin-top: 500px;
    margin-left: 40%;
}

legend {
color: #726E6D;
text-align: center;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

#submitBtn{
margin-left: 10%;
margin-top: 15px;}